@import "../../assets/sass/helper";

.iconsContainer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}

.iconsContainer .iconContainer{
  margin-right: 315px;
  margin-bottom: 150px;

  &:nth-child(3) {
    margin-right: 0;
  }
  &:nth-child(4) {
    margin-bottom: 0;
  }
  &:nth-child(5) {
    margin-bottom: 0;
    margin-right: 0;
  }
  @include media_1400(max){
    margin-right: 200px;
    &:nth-child(3) {
      margin-right: 50px;
    }
  }
  @include media_991(max){
    margin-right: 150px;
  }
  @include media_768(max) {
    margin-right: 80px;
    margin-bottom: 80px;
  }
  @include media_575(max) {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.techName {
  font-weight: 700;
  font-size: 22px;
  align-items: center;
  text-align: center;
}

.ourTech {
  justify-content: center;
}

.tech-item {
  max-width: 400px !important;
  margin-left: 30px !important;
}

.dsn-services {


  .service-item{
    position: relative;
  }

  &.service-one .service-item {

    @include media_991(min) {
      padding: 50px 45px;
    }
    @include media_991() {
      padding: 30px 20px;
    }
    @include media_768(min) {
      &:nth-of-type(even) {
        background: $assistant-color;
        box-shadow: 15px 15px 30px rgb(0 0 0 / 30%);
      }
    }
    @include media_768() {
      &:nth-of-type(even) {
        background: $assistant-color;
        box-shadow: 15px 15px 30px rgb(0 0 0 / 30%);
      }

    }


    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
    }

    &::before {
      top: 0;
      left: 0;
      border-top: 1px solid $border-color;
      border-left: 1px solid $border-color;
    }

    &:after {
      right: 0;
      bottom: 0;
      border-bottom: 1px solid $border-color;
      border-right: 1px solid $border-color;
    }

    .icon {
      svg, img {
        height: 75px;
      }
    }

    p {
      max-width: 500px;
    }
  }

  &.service-tow {
    p{
      max-width: 450px;
    }
    .line-before {
      width: 40px;
      height: 2px;
      background-color: $heading-color;
      opacity: 0.5;
    }
  }
}
